input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


#biggerSmaller {
    width: 15px;
    text-align: center;
}

fieldset{
    border-color: rgb(207, 129, 129);
}
legend{
    text-transform: capitalize;
    font-weight: 600;
    
}